.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

nav.header h1{
   font-size: 40px;
   
}

nav.header a{
   text-decoration: none;
   color: rgb(0, 0, 0);
   margin-left: 30px;
   font-size: 20px;  
}
nav.header a:hover{
   color: #6047EC;;
}